---
import Container from '../container/Container.astro';
---

<nav class="h-20 md:h-32">
  <section class="flex container justify-between items-center h-full relative">
    <div class="sm:flex gap-2 hidden">
      <span class="uppercase leading-tight text-sm font-bold">
        development & <br /> design
      </span>
    </div>
    <a class="font-bold sm:hidden" href="/">Lorre Huggan</a>
    <a
      href="/"
      class="color-fade center-absolute hidden sm:block sm:text-5xl font-bold font-display text-xl hover:text-base-500"
      >Lorre Huggan
    </a>
    <ul class="flex gap-2 uppercase text-sm font-bold">
      <li class="hover:text-accent-500 color-fade">
        <a href="/posts">posts</a>
      </li>
      <li class="hover:text-accent-500 color-fade">
        <a href="/picks">picks</a>
      </li>
    </ul>
  </section>
</nav>
