---
import Layout from '../layouts/home.astro';
---

<Layout title="404!">
  <div class="space-y-4">
    <p class="text-center">This page does not exist!</p>
    <h1 class="font-bold text-center text-accent-500 text-8xl">404!</h1>
    <div class="flex justify-center items-center">
      <ul class="flex gap-2 items-center uppercase text-sm font-bold">
        <li><a href="/">Home</a></li>
        <li><a href="/about">Post</a></li>
        <li><a href="/blog">Picks</a></li>
      </ul>
    </div>
  </div>
</Layout>
