---
const posts = await Astro.glob('../pages/post/*.mdx'); // returns an array of posts that live at ./src/pages/post/*.md
import Layout from '../layouts/home.astro';
---

<Layout title="Lorre Huggan | Post">
  <h1>Posts</h1>
  <ul class="space-y-2 mt-4">
    {
      posts.map((post) => {
        const { url } = post;
        const { title } = post.frontmatter;

        return (
          <li>
            <a href={url} class="cursor-pointer">
              {title}
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
