---
import Socials from '../global/Socials.astro';
---

<div class="flex gap-4">
  <aside>
    <img class="w-20 h-20 rounded-full" src="/img/Me.png" />
  </aside>
  <article aria-label="about me" class="space-y-6 flex-1 max-w-[575px]">
    <p>
      Hi there! I'm Lorre, a London-based dad and tech enthusiast. When I'm not
      busy being a contractor at Craft Applied, I'm probably tinkering with
      open-source technologies like JavaScript, Typescript, and React.
    </p>
    <p>
      I'm especially passionate about tools like NextJS and Astro, as well as
      design frameworks like Radix-UI and Tailwind. If you're interested in
      following along with my journey, give me a follow on <a
        href="https://twitter.com/lorrehuggan"
        class="hover:text-sky-500 color-fade">Twitter</a
      >
    </p>
    <Socials />
  </article>
</div>
