---
import Socials from "../global/Socials.astro";
---

<div class="flex gap-4">
  <article aria-label="about me" class="space-y-6 flex-1 w-[100%]">
    <p>
      Hi there! I'm Lorre, a London-based developer and tech enthusiast. When
      I'm not busy with my day job, I'm probably tinkering with open-source
      technologies, working on my personal projects or building in blender 3D.
    </p>
    <p>
      I'm especially passionate about tools like NextJS and Astro, as well as
      frameworks like Radix-UI, Tailwind and anything Poimandres drop. If you're
      interested in following along with my journey, give me a follow on <a
        href="https://twitter.com/lorrehuggan"
        class="hover:text-sky-500 color-fade"><strong>Twitter</strong></a
      >
    </p>
    <Socials />
  </article>
</div>
