<header class="mb-12">
  <div class="flex justify-center mb-8">
    <img
      src="/img/Me.png"
      class="rounded-full w-24 h-24 contrast-[1.1] saturate-[1.05]"
    />
  </div>
  <h1 class="text-center text:xl lg:text-[3.9rem]">Front-End Developer</h1>
</header>
