---
import Chips from '../post/Chips.astro';

interface Props {
  title: string;
  img: string;
  date: Date;
  url: string | undefined;
}
const { title, img, date, url } = Astro.props as Props;
---

<div
  class="max-w-[15rem] aspect-[2.25/3.5] relative rounded-lg overflow-hidden"
>
  <div class="absolute z-50 top-2 left-0 w-full px-2">
    <p class="text-base-50 text-sm mb-2">{new Date(date).toDateString()}</p>
    <h3 class="text-3xl font-bold text-base-50">{title}</h3>
  </div>
  <img src={img} alt={title} class="w-full h-full object-cover" />
  <a
    href={url}
    class="color-fade absolute z-50 px-3 py-2 bg-neutral-50 bottom-4 left-4 text-xs font-bold rounded shadow hover:bg-neutral-300"
    >Read article</a
  >
  <div class="absolute inset-0 w-full h-full bg-black/30"></div>
</div>
