---
import PostCard from './PostCard.astro';
import { getCollection } from 'astro:content';

interface Post {
  title: string;
  frontmatter: {
    title: string;
    date: string;
    img: string;
  };
}
const posts = await getCollection('posts', ({ data }) => {
  return data.published;
});
---

<div class="flex gap-4 mt-10">
  <div class="w-[100%]">
    <article class="space-y-6 flex-1">
      <h3>Writing</h3>
      <p>
        Here, you will find a collection of my thoughts, musings, and personal
        experiences. <strong>&#8595;</strong>
      </p>
    </article>
    <div class="no-scroll-bar flex gap-4 mt-8 w-[100%] overflow-x-scroll">
      {
        posts
          .sort((a, b) => {
            const aDate = new Date(a.data.publishedDate);
            const bDate = new Date(b.data.publishedDate);
            return bDate.getTime() - aDate.getTime();
          })
          .map((post) => (
            <PostCard
              date={post.data.publishedDate}
              img={post.data.image.src}
              title={post.data.title}
              url={`post/${post.slug}`}
            />
          ))
      }
    </div>
    {
      posts.length > 3 && (
        <div class="mt-4">
          <a>View More Articles</a>
        </div>
      )
    }
  </div>
</div>
