---
import PostCard from './PostCard.astro';

interface Post {
  title: string;
  frontmatter: {
    title: string;
    date: string;
    img: string;
  };
}
const posts = await Astro.glob('../../pages/post/*.mdx');
---

<div class="flex gap-4 mt-10">
  <div class="w-[100%]">
    <article class="space-y-6 flex-1">
      <h5>Writing</h5>
      <p>
        Here, you will find a collection of my thoughts, musings, and personal
        experiences. <strong>&#8595;</strong>
      </p>
    </article>
    <div class="flex gap-4 mt-8 w-[100%] overflow-x-scroll">
      {
        posts
          .sort((a, b) => {
            const aDate = new Date(a.frontmatter.date);
            const bDate = new Date(b.frontmatter.date);
            return bDate.getTime() - aDate.getTime();
          })
          .map((post) => (
            <PostCard
              date={post.frontmatter.date}
              img={post.frontmatter.image}
              title={post.frontmatter.title}
              url={post.url}
            />
          ))
      }
    </div>
  </div>
</div>
