---
import PostCard from './PostCard.astro';

interface Post {
  title: string;
  frontmatter: {
    title: string;
    date: string;
    img: string;
  };
}
const posts = await Astro.glob('../../pages/post/*.mdx');
---

<div class="flex gap-4 mt-10">
  <aside class="min-w-[5rem]"></aside>
  <div class="w-full">
    <article class="space-y-6 flex-1 max-w-[575px]">
      <h5>Writing</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam eius
        labore minus maxime tempore, illo mollitia porro officia perferendis
        autem molestiae! Ipsam quod dolores adipisci <br /> est molestiae quas, asperiores
        aut.
      </p>
    </article>
    <div class="flex gap-4 mt-8 w-[100%] overflow-x-scroll">
      {
        posts.map((post) => (
          <PostCard
            date={post.frontmatter.date}
            img={post.frontmatter.image}
            title={post.frontmatter.title}
            url={post.url}
          />
        ))
      }
    </div>
  </div>
</div>
