---
import Container from '../container/Container.astro';
import Socials from '../Socials.astro';

const year = new Date().getFullYear();
---

<footer class="h-12">
  <section class="container h-full flex items-center justify-between">
    <Socials />
    <div class="flex items-center gap-1">
      <span>&copy;</span>
      <p class="text-sm">{`Lorre Huggan ${year} v1.0.0`}</p>
    </div>
  </section>
</footer>
