---
interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;
---

<div class="flex flex-wrap items-center gap-2">
  {
    tags.map((tag) => (
      <span class="uppercase text-xs px-2 py-1 rounded-xl border-2 border-base-600 text-base-00">
        {tag}
      </span>
    ))
  }
</div>
