---
interface Props {
  tags: string[];
}

const { tags } = Astro.props as Props;
---

<div class="flex flex-wrap items-center gap-2">
  {
    tags.map((tag) => (
      <span class="uppercase text-xs border-base-600 text-base-500 font-mono font-bold">
        {tag}
      </span>
    ))
  }
</div>
