---
interface Props {
  date: string;
}
const { date } = Astro.props as Props;
---

<aside class="text-sm space-y-1 w-52 relative">
  <div class="w-full flex mb-4">
    <img
      src="/img/Me.png"
      alt="picture of lorre"
      class="w-20 h-20 rounded-full saturate-[1.1] contrast-[1.05] brightness-105"
    />
  </div>
  <div class="">
    <span>Author:</span>
    <span class="font-bold">Lorre Huggan</span>
  </div>
  <div>
    <span>Published:</span>
    <span class="font-bold">{date}</span>
  </div>
</aside>
