@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Dellyani';
  src: url('/fonts/Dellyani.ttf') format('truetype');
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 5.9rem;
    line-height: 1.1;
    font-weight: 700;
  }
  h2 {
    font-size: 3.7rem;
    line-height: 1.1;
    font-weight: 700;
  }
  h3 {
    font-size: 2.2rem;
    line-height: 1.1;
    font-weight: 700;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 700;
  }
  h5 {
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: 700;
  }
  p {
    font-size: 1.05rem;
    line-height: 1.4;
    font-weight: 500;
  }
}

@layer components {
  .container {
    @apply mx-auto w-[100%] px-8 lg:px-0 max-w-[650px];
  }
  .center-absolute {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .noise::after {
    @apply absolute inset-0 w-full h-full;
    content: '';
    opacity: 1;
    background-image: url('/img/noise.png');
    height: 100%;
    z-index: -1;
    mix-blend-mode: overlay;
  }
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .color-fade {
    @apply transition-colors duration-300 ease-in-out;
  }
}

.mainGradient {
  background: rgb(249, 201, 31);
  background: -moz-linear-gradient(
    223deg,
    rgba(249, 201, 31, 1) 0%,
    rgba(254, 64, 87, 1) 54%,
    rgba(247, 28, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    223deg,
    rgba(249, 201, 31, 1) 0%,
    rgba(254, 64, 87, 1) 54%,
    rgba(247, 28, 155, 1) 100%
  );
  background: linear-gradient(
    223deg,
    rgba(249, 201, 31, 1) 0%,
    rgba(254, 64, 87, 1) 54%,
    rgba(247, 28, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9c91f",endColorstr="#f71c9b",GradientType=1);
}
