---
export interface Props {
  title: string;
}
const { title } = Astro.props;
import Footer from '../components/global/footer/Footer.astro';
import Main from '../components/global/main/Main.astro';
import Nav from '../components/global/nav/Nav.astro';
import '../styles.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      name="description"
      content="Lorre Huggan Front-end Developer Portfolio"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-light text-base-800">
    <Nav />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
